body{
    background-color: black;
    color:rgb(202, 239, 239);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .tittle{
    font-size: 30px;
    font-weight: bold;
  }
  .button{
    background-color: transparent;
    border: 3px, solid, white;
    width:120px;
    height:120px;
    border-radius:50%;
    margin-right: 20px;
    cursor: pointer;

  }
  .image{
    height:50px;
  }
  .tally{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .reset,.autoplay{
    margin-top: 20px;
    padding:10px;
    border-radius: 3px;
    border:none;
    font-weight: bolder;
    cursor: pointer;
  }
  .js-score{
    margin-top: 40px;
  }